* {
    font-family: Arial, sans-serif;
    font-size: 15px;
}

#wrapper {
    margin: auto;
    align-content: center;
    width: 90%;
}

a {
    text-decoration: none;
}

ul#slider, ul#menu {
  list-style-type: none;
}
